// @import 'f...'
// @import 'normalize'

//$primary-color: #2e878a;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  font-size: 40px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.header-autor {
  font-size: 20px;
}
.footer {
  background: lightgreen;
}

.main {
}

.article-title {
  font-size: 60px;
  padding-top: 40px;
}

.article-text {
  font-size: 22px;
}

.btn {
  background-color: #f4511e;
  color: white;
  padding: 16px 32px;
  opacity: 0.6;
  text-decoration: none;
  display: inline-block;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

.container1 {
  background: black;
  width: 100%;
  height: 40px;
}

.article .content {
}

.article {
  .title {
  }
  .content {
  }
}
.page-img {
  width: 96%;
  height: 900px;
  margin: 35px;
}
.article-paragraph {
  color: white;
  text-align: center;
}

.container-page {
  margin: 40px auto;
  display: flex;
  width: 1280px;
  justify-content: space-between;
}

.test {
  justify-content: space-between;
}
.test {
  padding: 0;
  position: relative;
  background-color: #ffe6e6;
}

.test:hover img {
  opacity: 0.3;
}

.test:hover {
  opacity: 1;
}

.test img {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.main-menu-page {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1200px;
  padding: 20px;
  text-transform: uppercase;
}

.main-menu {
  background: #222;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.main-menu-item {
  text-decoration: none;
  color: white;
}

.page-img1 {
  width: 100%;
  height: 1000px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
}

.centered strong {
  font-size: 120px;
}

.container {
  //background: #e9e9e9;
  border-radius: 20px;
}

.test {
  width: 220px;
  height: 223px;
  border-radius: 108px;
}

figcaption {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}
@media only screen and (max-width: 2000px) {
  .foto {
    margin: 50px auto;
    display: flex;
    width: 1240px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 900px) {
  .foto {
    margin: 50px auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.cytata {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 30px;
}

.cytata h2 {
  font-size: 40px;
}

.main-menu-item:hover {
  opacity: 0.3;
  background: #e9e9e9;
}

// .main-menu:hover .main-menu-page {
//   opacity: 1;
// }

.test1 img {
  padding: 0;
  width: 600px;
  height: 425px;
  display: block;
  opacity: 1;
}

.main-menu,
.main-menu-page {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

* {
  box-sizing: border-box;
}

.container2 {
  display: flex;
  color: white;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  // background: blanchedalmond;
}

.left,
.right {
  padding: 0 10px;
}

.left {
  width: 1200px;
  //background: #e9e9e9;
  margin: 0 auto;
  padding: 50px 150px;
  // margin-bottom: 30px;
  color: black;
}

.right {
  margin: 0 auto;
  padding: 80px 40px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 200%;
    background: #e9e9e9;
  }
  .right {
    width: 80%;
    background: #e9e9e9;
  }
  .test10 {
    width: 100%;
  }
  strong {
    width: 100%;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
  }
  .test {
    width: 100%;
  }
  .centered .strong {
    width: 100%;
    text-align: center;
    font-size: 60%;
  }
  .page-img1 {
    width: 387%;
  }
  .cytata {
    text-align: center;
    padding: 100%;
  }
}

.left1,
.right1 {
  padding: 0 10px;
}

.left1 {
  width: 800px;
  //background: gainsboro ;
  margin: 0 auto;
  padding: 50px 150px;
  // margin-bottom: 30px floralwhite;
  color: black;
}

.right1 {
  margin: 0 auto;
  padding: 80px 40px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .left1 {
    width: 100%;
  }
  .right1 {
    width: 100%;
  }
}
strong {
  font-size: 60px;
  /* text-align: center; */
  padding: 222px;
  color: red;
}

.test10 {
  width: 400px;
  height: 280px;
}

// .btn {
//   border: none;
//   padding: 14px 28px;
//   font-size: 16px;
//   background: black;
// }

// .default {
//   color: white;
//   margin-left: 460px;
//   margin-bottom: 30px;
// }

.default:hover {
  background: black;
}

.foto-text {
  color: black;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
  // .btn:hover {opacity: 1}
}

// a .btn {

// 	  margin-bottom: 30px;
// }

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
}

.test:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 42px;
  padding: 16px 32px;
}

.title-bruksela {
  background: black;
}

.test2.red {
  color: red;
}

/* Article Block */
.article {
  width: 900px;
  background: #ddd;
  border: 1px solid black;
  margin: 50px auto;
  padding: 20px 40px;
  margin-bottom: 30px;
  height: 400px;
}

/* Article Elements */

/* Article Modifiers */
.article-sponsored {
  border: 3px solid red;
  background: yellow;
}

.author {
}

/* BLOCK ELEMENTS */
.author-avatar {
}
.author-name {
}

/* MODIFIERS */
.text-green {
  color: green;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.h1,
h1 {
  font-size: 65px;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 20px;
}

.fotoLiverpool {
  width: 500px;
  height: 376px;
}

.fotoAtonium {
  width: 70%;
  height: 90%;
}

.fotoRatusz {
  width: 90%;
  height: 90%;
}

.title-argument {
  color: #f4511e;
}

.katedraBerlinska {
  width: 534px;
  height: 500px;
}

// NOWA

.nowa {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  .container {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    height: 100%;
    overflow-y: scroll;
  }

  .h1 {
    line-height: 1.5;
    font-size: 104px;
    margin: 0 0 32px;
  }

  .p {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 24px;
    text-align: justify;
  }

  .country {
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
  }

  .presentation {
    width: 50%;
    height: 100%;
    margin: 0;
    background: #f1f1f1;
    box-shadow: 0 32px 48px rgba(0, 0, 0, 0.2);
  }

  .content {
    padding: 0 120px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// NOWA END
