<!-- <nav>
	<a href="/">Home</a>
	<a href="/about.html">About</a>
</nav> -->
<!-- <div class="main-menu">
<nav class=" main-menu-page">
	<div class="nav-main">
  <a href="/index.html" class=" main-menu-item">Home</a>
</div>
<div class="nav-main">
  <a href="/blog.html" class="  main-menu-item">Blog</a>
</div>
  <a href="/about.html" class="main-menu-item">About</a>
  <a href="#contact" class=" active main-menu-item">Speaking</a>
  <a href="#about" class="main-menu-item">Journalistic Roots</a>
  <div class="nav-main">
  <a href="/contact.html" class="main-menu-item">Contact</a>
</div>
</nav>	
</div> -->