<nav>
	<a href="/">Home</a>
	<a href="/about.html">About</a>
</nav>
<nav class=" main-menu-page">
  <div class="menu-toggle">
    <i class="fas fa-align-justify"></i>
  </div>
  <a href="/index.html" class=" main-menu-item">Home</a>
  <a href="/blog.html" class="  main-menu-item">Blog</a>
  <a href="/about.html" class="main-menu-item">About</a>
  <a href="#contact" class=" active main-menu-item">Speaking</a>
  <a href="#about" class="main-menu-item">Journalistic Roots</a>
  <a href="/contact.html" class="main-menu-item">Contact</a>
</nav>